<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search Page</title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <script src="/assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- jQuery -->

<script type="text/javascript">
    var temp = '<%= query %>';
    //console.log(temp);

    $.ajax({
        method: "GET",
        url: "http://api.yummly.com/v1/api/recipe/" + temp + "?_app_id=82eccb5e&_app_key=0c0f7b0c0d1cde681c221f41216ea5b5&q=butter chicken",
        cache: false,
        success: function (res) {
            console.log(res);
            var img = res.images[0];
            var dbtime=res.totalTime;
            url = res.images[0].imageUrlsBySize[360];
            url = url.substr(0, url.length - 6);
            console.log(url);
            $('#img1').attr("src", url + "s760-e300");
            //$('#img1').attr("src", "https://lh3.googleusercontent.com/ngy7_56kNN906mYR3K_H_kVBnBXFkYoU_cqwzTYBvv3NoZgkDK5CMqp7hMO2sjzuW-L3g07bA_tyZputgq7ArNg=s760-e300");//img.hostedLargeUrl);
            createIngredientsTable(res.ingredientLines);
            document.getElementById("count").textContent = res.ingredientLines.length;
            document.getElementById("totaltime").textContent = convertToMinutes(dbtime);
            document.getElementById("ratings").textContent = res.rating+'/5';
            document.getElementById("servings").textContent = res.numberOfServings;
            try {
                document.getElementById("recipeText").innerHTML = "<b>" + res.name + "</b><br/>" + "<h4>Cuisine: " + res.attributes.cuisine[0] + "<br/>Course: " + res.attributes.course[0] + "</h4>";
                $('#source').attr("href", res.source.sourceRecipeUrl);
            }
            catch(err){

            }
        },
        error: function (err) {
            console.log(err);
        }
    });

    function convertToMinutes(totalTime){
        var hours, minutes=0;
        var result;
        if (totalTime.indexOf("hr") >= 0) {
            hours = totalTime.substr(0,1);
            if (totalTime.indexOf("mins") >= 0)
                minutes = totalTime.substr(5,6);
            result = parseInt(hours*60)+parseInt(minutes);
        }
        else
        {
            result = totalTime.substr(0,2);
        }
        if(totalTime.indexOf("hrs") >= 0){
            hours = totalTime.substr(0,2);
            if (totalTime.indexOf("mins") >= 0)
                minutes = totalTime.substr(6,7);
            result = parseInt(hours*60)+parseInt(minutes);
        }
        return result;
    }

    function createIngredientsTable(ingre){
        var table = document.getElementById("ingredient-table");
        var tablebody = '<tbody>\n';
        for(var i=0;i<ingre.length;i++)
        {
            tablebody +='<tr><td>\n';
            //tablebody+='<span class="amount">'+ingre[i].substr(0,1)+'</span>\n';
            tablebody+='<span class="name">'+ingre[i]+'</span>\n';
            tablebody+='</td></tr>\n';
        }
        table.innerHTML = tablebody+'</tbody>';
    }

</script>
<style>
    .secondary {
        background-color: #f5f5f5;
        background-repeat: repeat;
    }

    .recipe-data {
        font-size: 14px;
        line-height: 20px;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        width: 60%;
    }

    .recipe-data li {
        cursor: pointer;
        display: block;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 25%;
    }

    .recipe-data li .hd, .recipe-data li .bd, .recipe-data li .ft {
        display: block;
        font-size: 1em;
        line-height: 1;
        width: 150%;
        margin-left: -25%
    }

    .recipe-data li .hd {
        font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
        color: #6c6c6c;
        font-style: italic;
        margin-top: 20px;
    }

    .recipe-data li .bd {
        font-family: "Helvetica Neue", "Roboto Thin", "Roboto Light", Roboto, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 100;
        color: #e16120;
        font-size: 4.25em;
    }

    .recipe-data li .ft {
        font-family: Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: .9em;
        color: #aaa;
        line-height: 2;
    }

    .modifiers {
        background-color: #f5f5f5;
        height: 132px;
        position: relative;
        width: 96%;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

    .social {
        height: 40px;
        position: relative;
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    .social-links {
        line-height: 20px;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .social-links li {
        cursor: pointer;
        display: block;
        float: left;
        list-style: none;
        margin: 0 1em;
        padding: 0;
        text-align: center;
    }

    .recipe-ingredients {
        padding: 1em;
    }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #eee;
    }

    .browse .textContainer {
        height: 430px;
        line-height: 400px;
    }

    .textContainer h2 {
        vertical-align: middle;
        display: inline-block;
    }
</style>
<body style="margin: 0">
<!-- Navigation -->
<nav class="custombar custombar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="custombar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand topnav"><i class="fa fa-cutlery fa-fw fa-2x"></i>&nbsp;</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://localhost:3001" class="smoothScroll"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a>
                </li>
                <li>
                    <div style="margin-top: 15px;"id="google_translate_element" class="smoothScroll"></div><script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es,fr,hi,mr,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                        }
                    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<section id="browse" class="browse" style="padding: 0">
    <div class="row">
        <div class="col-md-4 textContainer">
            <h2 class="recipe-ingredients text-left" id="recipeText"></h2>
        </div>
        <div class="col-md-8" id="recipe_image">
            <img id="img1" alt="" width="100%" height="500px">
        </div>
    </div>
</section>
<div class="secondary">
    <div class="modifiers">
        <ul class="recipe-data">
            <li class="ingredient-data">
                <span class="hd">Ingredients</span>
                <span class="bd" id="count"></span>
                <span class="ft">Count</span>
            </li>
            <li class="nutrition-data">
                <span class="hd">Servings</span>
                <span class="bd" id="servings"></span>
                <span class="ft">People</span>
            </li>
            <li class="time-data">
                <span class="hd">Total Time</span>
                <span class="bd" id="totaltime">55</span>
                <span class="ft" id="time">Minutes</span>
            </li>
            <li class="rating-data">
                <span class="hd">Rating</span>
                <span class="bd bd-rating no-data" id="ratings">. . .</span>
                <span class="ft">Review it now!</span>
            </li>
        </ul>
    </div>
</div>
<div class="social">
    <ul class="list-inline banner-social-buttons">

        <li>
            <a target="_blank" href="https://www.facebook.com/Recipe-World-1699608936921235/?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-lg fa-fw"></i> <span class="network-name"></span></a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/RecipeWorld" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg fa-fw"></i> <span class="network-name"></span></a>
        </li>
    </ul>
</div>
<div class="recipe-ingredients col-lg-12 col-sm-12 col-md-12 col-centered">
    <div class="row">
        <div class="col-sm-6">
            <label style="font-size: 1.5em">Ingredients</label>
        </div>

    </div>
    <div class="table-responsive col-sm-10">
        <table class="table table-hover table-striped" id="ingredient-table">


        </table>
    </div>
    <div class="col-sm-2" align="right">
        <a style="height: 100px; width: 100px" data-tweet-limit="3" class="twitter-timeline" href="https://twitter.com/RecipeWorld" data-widget-id="671111059445579776">Tweets by @RecipeWorld</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <span class="recipe-ingredients"> More-Info:</span><a id="source">Go to Source of this Recipe</a>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br/>
                <br/>
                <ul class="list-inline banner-social-buttons">

                    <li>
                        <a target="_blank" href="https://www.facebook.com/Recipe-World-1699608936921235/?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-lg fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/RecipeWorld" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                </ul>

                <p class="copyright text-muted small">Copyright &copy; Recipe World 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="/js/smoothscroll.js"></script>

</body>
</html>